default_stages:
  - commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer

  - repo: local
    hooks:
    - id: black
      name: black
      entry: black
      language: system
      pass_filenames: true
      types:
        - python

    - id: isort
      name: isort
      entry: isort
      language: system
      pass_filenames: true
      types:
        - python

    - id: mypy
      name: mypy
      entry: mypy
      language: system
      files: "comodi"
      pass_filenames: true
      types:
        - python

    - id: pydocstyle
      name: pydocstyle
      entry: pydocstyle
      language: system
      files: "comodi"
      pass_filenames: true
      types:
        - python
